<html>
<head>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/style.css" />
    <title>Tapkick - {% block title%}{% endblock title %}</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/beer.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/jquery.sparkline.js" type="text/javascript"></script>
</head>
<body>
	<div id="header">
		<ul id="nav">
            <li><a href="{% url front_page %}">Home</a></li>
            <li><a href="{% url user_list %}">Tapkick Users</a></li>
		</ul>
		<div id="login">
			<a href="#"></a>
		</div>
	</div>
	<div id="container">
        {% block container %}
        {% endblock %}
	</div>
</body>
</html>
