{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block container %}
<div id="one" class="tap">
	<div class="box">
		<div class="logo">
			<img src="{{ STATIC_URL }}img/logo_pbr.png">
		</div>
		<div class="tank">
			<div class="tank-shell">&nbsp;</div>
			<div class="tank-level">&nbsp;</div>
		</div>
		<div class="meta">
            <img src="{{ STATIC_URL }}img/one.png">
            <h2>{{tap1_beer.name}}</h2>
            <h2>{{tap1_beer.cups_left}} beers left</h2>
			<div class="item">
				<div class="item-key">Age:</div>
                <div class="item-value">{{tap1_beer.start_date|timesince:now}}</div>
			</div>
			<div class="item">
				<div class="item-key">Vol:</div>
                <div class="item-value">{{tap1_beer.amount_left}} L</div>
			</div>
		</div>
	</div>
	<div class="chart"></div>
    <div class="chart-desc">Consumption Trend (12 people)</div>
    {% if last_to_drink1 %}
	<div class="person">
		<img src="{{ STATIC_URL }}img/profiles/{{ last_to_drink1.user.name }}.jpg">
		<h3>{{ last_to_drink1.user.name }}</h3>
		<p>Last to Drink<span class="detail">({{ last_to_drink1.time|timesince }} ago)</span></p>
		<div class="clear"></div>
    </div>
    {% endif %}
    {% if highest_consumption1 %}
    {% for person in highest_consumption1 %}
	<div class="person">
		<img src="{{ STATIC_URL }}img/profiles/{{ person.user__name }}.jpg">
		<h3>{{ person.user__name }}</h3>
		<p>Highest Consumption<span class="detail">({{ person.total }} beers)</span></p>
		<div class="clear"></div>
	</div>
    {% endfor %}
    {% endif %}
    {% if fastest_beer1 %}
	<div class="person">
		<img src="{{ STATIC_URL }}img/profiles/{{ fastest_beer1.user__name }}.jpg">
		<h3>{{ fastest_beer1.user__name }}</h3>
		<p>Fastest Beer<span class="detail">({{ fastest_beer1.time }})</span></p>
		<div class="clear"></div>
	</div>
    {% endif %}
</div>
<div id="two" class="tap">
	<div class="box">
		<div class="logo">
			<img src="{{ STATIC_URL }}img/logo_pbr.png">
		</div>
		<div class="tank">
			<div class="tank-shell">&nbsp;</div>
			<div class="tank-level">&nbsp;</div>
		</div>
		<div class="meta">
			<img src="{{ STATIC_URL }}img/two.png">
            <h2>{{tap2_beer.name}}</h2>
            <h2>{{tap2_beer.cups_left}} beers left</h2>
			<div class="item">
				<div class="item-key">Age:</div>
                <div class="item-value">{{tap2_beer.start_date|timesince:now}}</div>
			</div>
			<div class="item">
				<div class="item-key">Vol:</div>
                <div class="item-value">{{tap2_beer.amount_left}} L</div>
			</div>
		</div>
	</div>
	<div class="chart"></div>
	<div class="chart-desc">Consumption Trend (12 people)</div>
    {% if last_to_drink2 %}
	<div class="person">
		<img src="{{ STATIC_URL }}img/profiles/{{ last_to_drink2.user.name }}.jpg">
		<h3>{{ last_to_drink2.user.name }}</h3>
		<p>Last to Drink<span class="detail">({{ last_to_drink2.time|timesince }} ago)</span></p>
		<div class="clear"></div>
    </div>
    {% endif %}
    {% if highest_consumption2 %}
    {% for person in highest_consumption2 %}
	<div class="person">
		<img src="{{ STATIC_URL }}img/profiles/{{ person.user__name }}.jpg">
		<h3>{{ person.user__name }}</h3>
		<p>Highest Consumption<span class="detail">({{ person.total }} beers)</span></p>
		<div class="clear"></div>
	</div>
    {% endfor %}
    {% endif %}
    {% if fastest_beer2 %}
	<div class="person">
		<img src="{{ STATIC_URL }}img/profiles/{{ fastest_beer2.user__name }}.jpg">
		<h3>{{ fastest_beer2.user__name }}</h3>
		<p>Fastest Beer<span class="detail">({{ fastest_beer2.time }})</span></p>
		<div class="clear"></div>
	</div>
    {% endif %}
{% endblock container %}
