{% extends "base.html" %}
{% load gravatar %}

{% block title %}Home{% endblock title %}

{% block container %}
<div id="one" class="tap">
	<div class="box">
		<div class="logo">
            <img src="{{ STATIC_URL }}img/logo/{{tap1_beer.slug}}.png">
		</div>
		<div class="tank">
			<div class="tank-shell">&nbsp;</div>
			<div class="tank-level">&nbsp;</div>
		</div>
		<div class="meta">
            <img src="{{ STATIC_URL }}img/one.png">
            <h2>{{tap1_beer.name}}</h2>
            <h4>{{tap1_beer.cups_left}} beers left</h4>
			<div class="item age">
				<div class="item-key">Age:</div>
                <div class="item-value">{{tap1_beer.start_date|timesince:now}}</div>
			</div>
			<div class="item volume">
				<div class="item-key">Vol:</div>
                <div class="item-value">{{tap1_beer.amount_left}}/{{tap1_beer.size}}L</div>
			</div>
			<div class="item ibu">
				<div class="item-key">IBU:</div>
                <div class="item-value">{{tap1_beer.ibu}}</div>
			</div>
			<div class="item abv">
				<div class="item-key">ABV:</div>
                <div class="item-value">{{tap1_beer.abv}}%</div>
			</div>
		</div>
	</div>
	<div class="chart"></div>
    <div class="chart-desc">Consumption Trend (12 people)</div>
    {% if last_to_drink1 %}
	<div class="person last">
        <img src="{% gravatar_for_email last_to_drink1.user.email 40 %}">
		<h3>{{ last_to_drink1.user.name }}</h3>
		<p>Last to Drink<span class="detail">({{ last_to_drink1.time|timesince }} ago)</span></p>
		<div class="clear"></div>
    </div>
    {% endif %}
    {% if highest_consumption1 %}
    {% for person in highest_consumption1 %}
	<div class="person consumption">
        <img src="{% gravatar_for_email person.user__email 40 %}">
		<h3>{{ person.user__name }}</h3>
		<p>Highest Consumption<span class="detail">({{ person.total }} beers)</span></p>
		<div class="clear"></div>
	</div>
    {% endfor %}
    {% endif %}
    {% if fastest_beer1 %}
	<div class="person fastest">
        <img src="{% gravatar_for_email fastest_beer1.user__email 40 %}">
		<h3>{{ fastest_beer1.user__name }}</h3>
		<p>Fastest Beer<span class="detail">({{ fastest_beer1.time|timesince:now }})</span></p>
		<div class="clear"></div>
	</div>
    {% endif %}
</div>
<div id="two" class="tap">
	<div class="box">
		<div class="logo">
            <img src="{{ STATIC_URL }}img/logo/{{tap2_beer.slug}}.png">
		</div>
		<div class="tank">
			<div class="tank-shell">&nbsp;</div>
			<div class="tank-level">&nbsp;</div>
		</div>
		<div class="meta">
			<img src="{{ STATIC_URL }}img/two.png">
            <h2>{{tap2_beer.name}}</h2>
            <h4>{{tap2_beer.cups_left}} beers left</h4>
			<div class="item age">
				<div class="item-key">Age:</div>
                <div class="item-value">{{tap2_beer.start_date|timesince:now}}</div>
			</div>
			<div class="item volume">
				<div class="item-key">Vol:</div>
                <div class="item-value">{{tap2_beer.amount_left}}/{{tap2_beer.size}}L</div>
			</div>
			<div class="item ibu">
				<div class="item-key">IBU:</div>
                <div class="item-value">{{tap2_beer.ibu}}</div>
			</div>
			<div class="item abv">
				<div class="item-key">ABV:</div>
                <div class="item-value">{{tap2_beer.abv}}%</div>
			</div>
		</div>
	</div>
	<div class="chart"></div>
	<div class="chart-desc">Consumption Trend (12 people)</div>
    {% if last_to_drink2 %}
	<div class="person last">
        <img src="{% gravatar_for_email last_to_drink2.user.email 40 %}">
		<h3>{{ last_to_drink2.user.name }}</h3>
		<p>Last to Drink<span class="detail">({{ last_to_drink2.time|timesince }} ago)</span></p>
		<div class="clear"></div>
    </div>
    {% endif %}
    {% if highest_consumption2 %}
    {% for person in highest_consumption2 %}
	<div class="person consumption">
        <img src="{% gravatar_for_email person.user__email 40 %}">
		<h3>{{ person.user__name }}</h3>
		<p>Highest Consumption<span class="detail">({{ person.total }} beers)</span></p>
		<div class="clear"></div>
	</div>
    {% endfor %}
    {% endif %}
    {% if fastest_beer2 %}
	<div class="person fastest">
        <img src="{% gravatar_for_email fastest_beer2.user__email 40 %}">
		<h3>{{ fastest_beer2.user__name }}</h3>
		<p>Fastest Beer<span class="detail">({{ fastest_beer2.time|timesince:now }})</span></p>
		<div class="clear"></div>
	</div>
    {% endif %}
{% endblock container %}
