{% extends "base.html" %}
{% load gravatar %}

{% block title %}User List{% endblock title %}
{% block container %}
    <h1>The list of users</h1>
    {% if user_list %}
        <ul>
        {% for user in user_list %}
            <li>
            <img src="{% gravatar_for_email user.email 40 %}">
            <a href="{% url user_detail user.rfid %}">{{user.name}}</a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p> No users are available.</p>
    {% endif %}
{% endblock container %}
